@import 'variables';

.navbar{
    a.navbar-brand {
        &:hover{
            color: $blue;
        }
    }
    a{
        &:hover{
            text-decoration: none;
        }
    }
}

h5.card-title{
    font-size: 20px;
    font-weight: bold;
}