@import "_variables";
@import "_inputStyles";
@import "_header";
@import "_shortcode";

body{
    background: $white;
}

.shadow{
    box-shadow: 0 0px 0px rgba(0,0,0,.16), 0 2px 6px rgba(0,0,0,.23);
}

.lightShadow{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);;
}

.logo {
    display:block;
    margin: 0px auto;
    width: 40px;
    height: 40px;
}

.border-right{
    border-right: $border;
}

.userPic{
    max-width: 250px;
}

.friendPic{
    width: 50px;
    height: 50px;
}

.card-text{
    font-size: 13px;
}

.parent{
    display: flex;
    flex-wrap: wrap;
}

.child{
    width: calc(100% / 3);
}