@import "_variables";
@import "_inputStyles";
@import "_header";
@import "_media";
@import "_shortcode";

body{
    background: $white;
}

.shadow{
    box-shadow: 0 0px 0px rgba(0,0,0,.16), 0 2px 6px rgba(0,0,0,.23);
}

.card-img-top{
    border-radius: 5px;
}

.lightShadow{
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
    border: 0px solid #fff;
}

.logo {
    display:block;
    margin: 0px auto;
    width: 40px;
    height: 40px;
}

.border-right{
    border-right: $border;
}

.userPic{
    max-width: 250px;
}

.friendPic{
    width: 50px;
    height: 50px;
}

.card-text{
    font-size: 13px;
}

.parent{
    display: flex;
    flex-wrap: wrap;
}

.spacingNegativeMargin{
    margin-left: -15px;
    margin-right: -15px;
}

.photos{
    height: 250px;
    .cardHeight{
        height: 210px;
        width: 100%;
    }
}

.feedInfoChild{
    width: calc(100% / 4);
}