body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.nop{
  padding: 0;
}
.p10{
  padding: 10px;
}
.p5{
  padding: 5px;
}
.pt0{
  padding-top: 0;
}
.pb0{
  padding-bottom: 0;
}
.pr0{
  padding-right: 0;
}
.pl0{
  padding-left: 0;
}

.nom{
  margin: 0;
}
.br1{
  border-right: 1px solid #e0e0e0;
}
.br2{
  border-right: 2px solid #e0e0e0;
}